
@font-face {
  font-family: 'Shapiro 55 Middle Ext';
  src: url(./fonts/shapiro/Shapiro\ 55\ Middle\ Extd.otf);
}

@font-face {
  font-family: 'Shapiro 65 Light Heavy Wide';
  src: url(./fonts/shapiro/Shapiro\ 65\ Light\ Heavy\ Wide.otf);
}

@font-face {
  font-family: 'Shapiro 55 Middle Wide';
  src: url(./fonts/shapiro/Shapiro\ 55\ Middle\ Wide.otf);
}